@font-face {
  font-family: "Criteria CF - bold";
  src: url("../asset/fonts/Fontspring-DEMO-criteriacf-bold.otf");
}
@font-face {
  font-family: "Criteria CF - semibold";
  src: url("../asset/fonts/Fontspring-DEMO-criteriacf-demibold.otf");
}
@font-face {
  font-family: "Criteria CF - extrabold";
  src: url("../asset/fonts/Fontspring-DEMO-criteriacf-extrabold.otf");
}
@font-face {
  font-family: "Criteria CF - extralight";
  src: url("../asset/fonts/Fontspring-DEMO-criteriacf-extralight.otf");
}
@font-face {
  font-family: "Criteria CF - light";
  src: url("../asset/fonts/Fontspring-DEMO-criteriacf-light.otf");
}
@font-face {
  font-family: "Criteria CF - medium";
  src: url("../asset/fonts/Fontspring-DEMO-criteriacf-medium.otf");
}
@font-face {
  font-family: "Criteria CF - regular";
  src: url("../asset/fonts/Fontspring-DEMO-criteriacf-regular.otf");
}
@font-face {
  font-family: "Criteria CF - super";
  src: url("../asset/fonts/Fontspring-DEMO-criteriacf-super.otf");
}
@font-face {
  font-family: "Criteria CF - thin";
  src: url("../asset/fonts/Fontspring-DEMO-criteriacf-thin.otf");
}


