@font-face {
  font-family: "Criteria CF - bold";
  src: url("../asset/fonts/Fontspring-DEMO-criteriacf-bold.woff");
}
@font-face {
  font-family: "Criteria CF - semibold";
  src: url("../asset/fonts/Fontspring-DEMO-criteriacf-demibold.woff");
}
@font-face {
  font-family: "Criteria CF - extrabold";
  src: url("../asset/fonts/Fontspring-DEMO-criteriacf-extrabold.woff");
}
@font-face {
  font-family: "Criteria CF - extralight";
  src: url("../asset/fonts/Fontspring-DEMO-criteriacf-extralight.woff");
}
@font-face {
  font-family: "Criteria CF - light";
  src: url("../asset/fonts/Fontspring-DEMO-criteriacf-light.woff");
}
@font-face {
  font-family: "Criteria CF - medium";
  src: url("../asset/fonts/Fontspring-DEMO-criteriacf-medium.woff");
}
@font-face {
  font-family: "Criteria CF - regular";
  src: url("../asset/fonts/Fontspring-DEMO-criteriacf-regular.woff");
}
@font-face {
  font-family: "Criteria CF - super";
  src: url("../asset/fonts/Fontspring-DEMO-criteriacf-super.woff");
}
@font-face {
  font-family: "Criteria CF - thin";
  src: url("../asset/fonts/Fontspring-DEMO-criteriacf-thin.woff");
}


