// Font styles
$CF-thin: "Criteria_CF_thin";
$CF-extralight: "Criteria_CF_extralight";
$CF-light: "Criteria_CF_light";
$CF-regular: "Criteria_CF_regular";
$CF-medium: "Criteria_CF_medium";
$CF-semibold: "Criteria_CF_semibold";
// $CF-bold: "Criteria CF - bold";
// $CF-extralight: "Criteria_CF_extrabold";
// $CF-extrabold: "Criteria CF - extrabold";
// $CF-super: "Criteria_CF_super";

// Colors
$blue: #025385;
$green: #04c8a2;
// $green: #04e2b7;
$black: #202123;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $CF-regular;
  color: $black;
  overflow-x: hidden;

  *::selection {
    color: $blue;
    background: $green;
  }

  *::first-letter {
    text-transform: capitalize;
  }

  a,
  button {
    font-family: "poppins";
    font-weight: 400;
    user-select: none;
    text-decoration: none;
    font-family: $CF-regular;
    cursor: pointer;
  }
  *,
  :after,
  :before {
    box-sizing: inherit;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding: 20px;
}

.noise {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
}

.main-page {
  min-width: 100vw;
  max-width: 100vw;

  .top {
    width: 0;
    height: 0;
  }

  header {
    width: 100%;
    max-width: 1320px;
    height: 100vh;
    margin: auto;

    nav {
      z-index: 999;
      height: 60px;
      width: calc(100% - 40px);
      max-width: 1320px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: red;
      margin: 20px;
      padding: 10px;
      background: rgba(250, 250, 250, 0.5);
      border: 1px solid rgba(32, 33, 35, 0.05);
      backdrop-filter: blur(5px);
      border-radius: 30px;
      position: fixed;
      left: 50%;
      transform: translateX(calc(-50% - 15px));

      .nav-btn {
        display: none;
        cursor: pointer;
      }
      .nav-logo {
        margin-left: 10px;
      }
      .icon {
        display: none;
      }
      .whitetext {
        display: block;
      }
      ul {
        display: flex;
        list-style: none;
        padding-left: 0;

        a {
          margin: 0 5px;
        }

        li {
          color: $black;
          font-family: $CF-medium;
          font-size: 14px;
          padding: 0 5px;
        }
        .contact {
          font-family: $CF-semibold;
          color: $blue;
        }
      }
    }

    .hero {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .flech-btn {
        position: absolute;
        bottom: 30px;
        right: 20px;
        transform: rotate(90deg);
        z-index: 555;
      }

      .bg {
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;

        img {
          position: absolute;

          &:nth-child(1) {
            top: 60%;
            left: -105px;
            filter: blur(2px);
          }
          &:nth-child(2) {
            bottom: 20px;
            right: -190px;
          }
          &:nth-child(3) {
            bottom: 66%;
            left: 82%;
          }
        }
      }

      .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 920px;
        text-align: center;
        position: relative;

        h1 {
          font-size: 48px;
          margin: 0;
          line-height: 60px;
          font-family: $CF-light;

          span {
            background-color: $green;
            color: $blue;
          }
          i {
            font-family: $CF-extralight;
          }
        }

        p {
          width: 500px;
          font-family: $CF-light;
          margin: 8px 0 0 0;

          span {
            font-family: $CF-semibold;
          }
        }

        button {
          background-color: $blue;
          color: white;
          border: none;
          line-height: 50px;
          width: 210px;
          font-size: 18px;
          border-radius: 40px;
          margin-top: 40px;
          transition: all 200ms ease;

          display: flex;
          justify-content: center;

          img {
            margin: auto 0 auto 10px;
            display: none;
          }

          &:hover {
            color: $green;
            box-shadow: 3px 3px 0 $green;
          }
        }
      }

      .happy-client {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        p {
          font-size: 14px;
          font-family: $CF-light;
          margin-right: 5px;
        }
        img {
          height: 30px;
        }
      }
    }
  }
}

.main-content {
  min-height: 100vh;
  width: 100vw;

  .about {
    width: 100%;
    max-width: 1440px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px
      min(
        max(calc((100vw - 1320px) * 0.5), 20px),
        calc((1440px - 1320px) * 0.5)
      )
      40px 0;
    margin: 50px auto 40px auto;
    scroll-margin-top: 100px;

    .container {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 45px;

      .about-img {
        width: 50%;
        height: fit-content;
        position: relative;
        display: flex;
        justify-content: right;
        align-items: center;

        .blue-bg {
          position: absolute;
          top: -5px;
          right: -5px;
          z-index: 0;
          background-color: $green;
          width: calc(100% - 100px);
          height: calc(100% - 140px);
          // height: 520px;
        }
        img {
          position: relative;
          width: 100%;
          z-index: 1;
        }
      }
      .about-content {
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        h1 {
          font-size: 48px;
          margin-top: 10px;
          margin-bottom: 20px;
          font-family: $CF-light;
        }

        p {
          line-height: 19px;
          // padding-right: 30px;
          font-family: $CF-light;
          margin-bottom: 10px;
        }

        a {
          margin-top: 10px;
          margin-bottom: 10px;
          color: $blue;
          font-family: $CF-semibold;
          font-size: 14px;
        }
      }
    }
  }

  .services {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px calc(50vw - 660px) 40px calc(50vw - 660px);
    margin: 40px 0;
    scroll-margin-top: 50px;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 0 30px;

      h1 {
        font-size: 48px;
        font-family: $CF-light;
        text-align: center;
      }

      .content {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .item {
          border: 3px $green solid;
          width: 375px;
          padding: 30px;

          .title {
            h2 {
              margin: 5px 0;
              font-size: 40px;
              color: $green;
              font-family: $CF-light;
            }

            p {
              margin: 5px 0;
              font-size: 13px;
              line-height: 19.5px;
              opacity: 0.8;
              font-family: $CF-light;
            }
          }

          ul {
            padding-left: 20px;
            margin-top: 35px;
            margin-bottom: 0;

            li {
              line-height: 30px;
              font-family: $CF-medium;
              text-transform: uppercase;
            }

            li::marker {
              font-size: 8px;
              line-height: 40px;
            }
          }
        }

        .item:nth-child(2) {
          transform: translateY(25px);
        }
        .item:nth-child(3) {
          transform: translateY(-50px);
        }
      }
    }
  }

  .benefits {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 40px 0;
    margin: 40px 0 40px 0;
    scroll-margin-top: 120px;

    .container {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;

      .title {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
          font-size: 48px;
          margin-bottom: 0;
          font-family: $CF-light;
        }

        p {
          font-family: $CF-light;
          width: 100%;
          max-width: 450px;
          margin-bottom: 30px;
          padding-bottom: 0;
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        width: 100vw;

        > div {
          display: flex;
          gap: 20px;
          margin: 10px 0;
          width: fit-content;

          .item {
            width: 463px;
            height: 138px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            padding: 30px;
            border: 2px solid $blue;

            h4 {
              font-size: 18px;
              margin-top: 0;
              margin-bottom: 5px;
            }

            p {
              margin: 0;
              font-family: $CF-light;
              font-size: 14px;
            }
          }

          &:first-child {
            transform: translateX(calc(-10% - 20px - 463px - 100px));
          }

          &:last-child {
            transform: translateX(-10%);
          }
        }
      }
    }
  }

  .works {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 60px calc(50vw - 660px) 60px calc(50vw - 660px);
    padding: 40px 0 40px 0;
    margin: 40px 0;
    scroll-margin-top: 50px;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      // padding: 0 20px;

      .swiper {
        padding: 0 max(calc(50vw - 630px), 40px) 40px
          max(calc(50vw - 630px - 11px), 40px);
      }
      .swiper-slide {
        width: fit-content !important;
      }
      .swiper-pagination-progressbar-fill {
        background: $black;
      }
      .swiper-pagination {
        top: auto;
        bottom: 0;
        width: 234px;
        margin-left: max(calc(50vw - 630px), 40px);
        height: 2px;
        background-color: rgba(0, 0, 0, 0.223);
        border-radius: 4px;
        overflow: hidden;
      }

      h1 {
        font-size: 48px;
        font-family: $CF-light;
        text-align: center;
      }

      .content {
        display: flex;
        width: 100%;

        .content-container {
          display: flex;
          gap: 22px;
          padding: 0 0 0 calc(50vw - 660px);
          width: 100vw;
        }

        .item {
          width: 409px;
          height: 565px;
          border: 1px solid $blue;
          background: #f8f8f8;
          margin: 0 11px;
          * {
            transition: all 1s ease 100ms;
          }
          &:hover {
            .item-img .darkness {
              opacity: 0.35;
            }
            .item-content button {
              border: 2px $blue solid;
              background-color: transparent;
              color: $blue;
            }
          }

          .item-img {
            height: 500px;
            width: 100%;
            background-image: linear-gradient(
              245.57deg,
              #2f8baf 3.8%,
              #216c89 156.79%
            );
            position: relative;

            .darkness {
              position: absolute;
              height: 100%;
              width: 100%;
              background-color: $black;
              opacity: 0;
              top: 0;
            }

            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }

          .item-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: calc(100% - 500px);
            margin: 0 25px;

            h3 {
              margin: 0;
              font-size: 18px;
              font-family: $CF-regular;
            }
            p {
              margin: 0;
              font-size: 13px;
              font-family: $CF-light;
              opacity: 0.9;
            }

            button {
              background: $blue;
              color: white;
              border-radius: 30px;
              border: 2px $blue solid;
              padding: 6px 15px;
            }
          }
        }
      }

      .barre {
        padding: 0 max(calc(50vw - 630px), 40px) 0 max(calc(50vw - 630px), 40px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        transform: translateY(-12px);

        a {
          font-family: $CF-semibold;
          color: $black;

          img {
            height: 10px;
            filter: brightness(0);
          }
        }
      }
    }
  }

  .membership {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px calc(50vw - 660px) 40px calc(50vw - 660px);
    margin: 40px 0;

    .container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;

      .title {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
          text-align: center;
          font-size: 48px;
          font-family: $CF-light;
          margin-bottom: 0;
        }
        > p {
          font-family: $CF-light;
          margin-top: 10px;
          margin-bottom: 35px;
          width: 560px;
          text-align: center;
        }
      }

      .content {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 25px;
        flex-wrap: wrap;
        padding: 0 20px;

        .item {
          height: 80px;
          width: 300px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-left: 4px solid $green;
          font-size: 18px;
          background-color: #f8f8f8;
          font-family: $CF-medium;
        }
      }
    }
  }

  .plans {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px calc(50vw - 660px) 80px calc(50vw - 660px);
    margin: 100px 0;
    background: #f8f8f8;
    scroll-margin-top: 50px;

    .container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 20px;

      h1 {
        text-align: center;
        font-size: 48px;
        font-family: $CF-light;
        margin-bottom: 0;
      }
      > p {
        margin-top: 10px;
        margin-bottom: 35px;
        width: 480px;
        text-align: center;
        font-family: $CF-light;
      }
      .content {
        display: flex;
        justify-content: center;
        gap: 20px;
        width: 100%;

        .special {
          background-image: linear-gradient(
            105.26deg,
            #025385 0%,
            #0ef3c5 122.51%
          );
          color: white;
          border: none !important;
          p,
          li {
            font-family: $CF-extralight !important;
          }
          span {
            font-weight: 600;
          }
          button {
            width: fit-content !important;
            padding: 10px 25px;
          }
          .ticket {
            font-family: "Poppins";
            position: absolute;
            top: 0;
            right: 0;
            background-color: #e6f5ff;
            color: $blue;
            font-size: 12px;
            padding: 6px 20px;
            border-radius: 0 0 0 12px;
          }
          button {
            box-shadow: 2px 2px 0 $blue;
            border: none !important;
          }
        }

        .item {
          width: 413px;
          height: 456px;
          border: 1px solid $blue;
          padding: 35px;
          position: relative;
          background-color: white;

          .title {
            h3 {
              margin: 5px 0;
              font-size: 24px;
              font-family: $CF-light;
            }
            p {
              font-size: 14px;
              margin: 0;
              strong {
                font-weight: 600;
              }
            }
          }

          .price {
            font-family: "Poppins";
            margin: 20px 0;
            .price--container {
              .pg {
                color: $green;
                font-size: 24px;
                font-weight: 700;
              }
              .p {
                font-size: 24px;
                font-weight: 700;
              }
              .pd {
                font-weight: 700;
                font-size: 13px;
              }
              .pn {
                margin-left: 15px;
                font-weight: 700;
                font-size: 13px;
                opacity: 0.5;
                text-decoration: line-through;
                small {
                  font-size: 10px;
                  font-weight: 500;
                }
              }
            }
            > small {
              position: relative;
              top: -12px;
              font-size: 8px;
              opacity: 0.8;
            }
          }

          ul {
            padding-left: 12px;
            margin-top: 10px;
            margin-bottom: 0;

            li {
              line-height: 24px;
              font-family: $CF-medium;
              font-size: 13px;
            }

            li::marker {
              font-size: 8px;
              line-height: 24px;
            }
          }

          .btns {
            position: absolute;
            width: calc(100% - 35px * 2);
            bottom: 35px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
              width: 100%;
              background-color: white;
              border: 1px solid $blue;
              color: $blue;
              padding: 10px 25px;
              border-radius: 30px;
              font-size: 18px;
              font-family: $CF-semibold;
            }
            a {
              font-size: 14px;
              color: white;
              position: relative;
              margin: 0 10px;

              &::after {
                content: "";
                position: absolute;
                width: 100%;
                border-top: 1px rgba(255, 255, 255, 0.553) solid;
                height: 0;
                left: 0;
                bottom: -5px;
              }
            }
          }
        }
      }
    }
  }

  .faqs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px calc(50vw - 660px) 40px calc(50vw - 660px);
    margin: 40px 0;
    flex-direction: column;
    scroll-margin-top: 50px;

    h1 {
      text-align: center;
      font-size: 48px;
      font-family: $CF-light;
      margin-bottom: 40px;
    }

    .content {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 0 15px;

      > div {
        flex-direction: column;
        display: flex;
        gap: 25px;
        width: 50%;
        margin: 10px 12.5px;

        .item {
          width: 100%;
          height: 80px;
          padding: 30px 20px;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          background-color: #f8f8f8;
          cursor: pointer;

          * {
            pointer-events: none;
          }

          .item-content {
            width: 100%;

            p {
              display: none;
              font-size: 14px;
              line-height: 17px;
              font-family: $CF-extralight;
              margin-bottom: 0;
            }
            span {
              font-size: 16px;
              font-family: $CF-medium;
            }
          }

          .btn {
            height: 24px;
            width: 24px;
            position: relative;

            &:after,
            &:before {
              content: "";
              background-color: $black;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
            }

            &:before {
              width: 12px;
              height: 3px;
            }

            &:after {
              width: 3px;
              height: 12px;
            }
          }

          &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 6px;
            width: 6px;
            background-color: #04e2b7;
          }
        }

        .open {
          height: fit-content;

          &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 50%;
            transform: translateY(50%);
            height: 6px;
            width: 6px;
            background-color: #04e2b7;
          }

          .btn {
            pointer-events: all;
            height: 100%;
            &:after {
              display: none;
            }
            &:before {
              top: 5px;
            }
          }

          .item-content {
            width: 100%;

            p {
              display: block;
            }
          }
        }
      }
    }

    button {
      width: 170px;
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $blue;
      border: 1px solid $blue;
      border-radius: 30px;
      margin-top: 30px;
      font-family: $CF-semibold;
      background-color: transparent;
    }
  }

  .client {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 60px 0 35px 0;
    img {
      height: 60px;
    }
  }
}

footer {
  width: 100%;
  color: white;
  background-color: $black;
  padding: 50px 0 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  position: relative;

  .isInterested {
    display: flex;
    justify-content: center;
    margin: 0;
    width: calc(100% - 20px);
    padding: 0 20px;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 45px;
      border: 0.5px solid #ffffff74;
      width: 620px;
      height: 310px;

      h2 {
        font-size: 48px;
        margin: 0;
        font-family: $CF-light;
      }
      p {
        font-size: 16px;
        font-family: $CF-extralight;
      }

      .highlight {
        font-family: $CF-regular;
        margin: 0;
        font-size: 32px;
        background: -webkit-linear-gradient(-45deg, $green, $blue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .action {
      width: 320px;
      height: 310px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 30px;
      border: 0.5px solid #ffffff74;
      gap: 20px;
      background-image: linear-gradient(-45deg, $green, $blue);
      transition: background-image 500ms ease;
      position: relative;

      img {
        z-index: 1;
        position: relative;
        object-fit: contain;
        width: 50px;
        height: 50px;
      }

      span {
        z-index: 2;
        position: relative;
        font-size: 20px;
      }

      .bg {
        width: calc(100% + 1px);
        height: calc(100% + 1px);
        top: -0.5px;
        left: -0.5px;
        position: absolute;
        z-index: 0;
        background: $black;
        border: 1px solid #ffffff74;
        transition: all 600ms ease 150ms;
      }

      &:hover {
        .bg {
          opacity: 0;
        }
      }
    }
  }

  .footer-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1260px;
    padding: 0 0;
    margin: auto;

    > div {
      display: flex;
      align-items: center;
      width: fit-content;

      > img {
        margin: auto 0;
      }

      div {
        display: flex;
        img {
          margin: auto 5px;
        }
      }

      hr {
        height: 20px;
        border: none;
        border-left: 2px rgba(255, 255, 255, 0.475) solid;
        opacity: 0.5;
        margin: auto 15px;
      }
    }

    ul {
      display: flex;
      list-style: none;
      flex-wrap: wrap;
      // width: 100%;

      li {
        font-family: $CF-extralight;
        font-size: 12px;
        color: white;
        padding-left: 14px;
      }
    }
  }

  .to-top {
    position: absolute;
    border-radius: 50%;
    right: calc((100vw - 1260px - 80px) * 0.5);
    height: 30px;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.256);
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      transform: rotate(-90deg);
      filter: brightness(2);
    }
  }
}

// Navbar-Responsivity
@media only screen and (max-width: 900px) {
  .main-page header nav ul li {
    display: none;
  }
  .main-page header nav ul .contact {
    display: flex;
  }
  .main-page header nav ul .nav-btn {
    display: block;
  }
  .main-page header nav ul {
    align-items: center;
  }
}
@media only screen and (max-width: 500px) {
  .main-page header nav .whitetext {
    display: none !important;
  }
  .main-page header nav .icon {
    display: block !important;
  }
  .main-page header nav {
    transform: translateX(calc(-50% - 20px));
  }
}
// Header-Responsivity
@media only screen and (max-width: 1440px) {
  .main-page header .hero .happy-client {
    margin-left: 40px;
  }
}
@media only screen and (max-width: 810px) {
  .main-page header .hero .content {
    padding: 0 40px;
    width: 100%;

    h1 {
      font-size: 32px;
      line-height: 39px;
    }
    p {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 670px) {
  .main-page header .hero .flech-btn {
    display: none;
  }
  .main-page header .hero .happy-client {
    flex-wrap: wrap;
    justify-content: left;
    p {
      min-width: 100%;
      margin: 5px 0;
    }
  }
  .main-page header .hero .content button img {
    display: block;
  }
}
@media only screen and (max-width: 515px) {
  .main-page header .hero .happy-client {
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 18px;
    gap: 3px;
  }
}
@media only screen and (max-width: 414px) {
  .main-page header .hero .happy-client img {
    height: 22px;
  }
}
// Services-Responsivity
@media only screen and (max-width: 1220px) {
  .main-content .services .container .content {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .main-content .services .container .content .item {
    width: 245px;

    .title h2 {
      font-size: 24px;
    }
    .title p {
      line-height: 15px;
      font-size: 10px;
    }
    ul {
      margin-top: 15px;
      padding-left: 10px;

      li {
        font-size: 10px;
        line-height: 18px;

        &::marker {
          font-size: 6px;
          line-height: 25px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1000px) {
  .main-content .services .container {
    padding: 0 20px;
  }
  .main-content .services .container > h1 {
    font-size: 28px;
  }
}
@media only screen and (max-width: 830px) {
  .main-content .services .container .content {
    .item:nth-child(2),
    .item:nth-child(3) {
      transform: translateY(0);
    }
  }
}
@media only screen and (max-width: 480px) {
  .main-content .services .container {
    padding: 0 20px;
  }
  .main-content {
    .services {
      .container > h1 {
        font-size: 24px;
      }
    }
  }
  .main-content .services .container .content .item {
    padding: 30px;
    width: 100%;

    .title h2 {
      margin-top: 10px;
      font-size: 24px;
    }
    .title p {
      line-height: 15px;
      font-size: 12px;
    }
    ul {
      margin-top: 15px;
      padding-left: 10px;

      li {
        font-size: 14px;
        line-height: 25px;

        &::marker {
          font-size: 6px;
          line-height: 25px;
        }
      }
    }
  }
}
// Works-Responsivity
@media only screen and (max-width: 1000px) {
  .main-content .works .container > h1 {
    font-size: 28px;
  }
}
@media only screen and (max-width: 900px) {
  .main-content {
    .works {
      .container .content .item {
        width: 269px;
        height: 369px;
        margin: 5px;

        .item-img {
          height: 323px;
        }
        .item-content {
          height: calc(100% - 323px);
          margin: 0 15px;

          > div {
            width: 100%;
          }
          h3 {
            font-size: 12px;
          }
          p {
            font-size: 10px;
          }
          button {
            width: 85px + 20px;
            font-size: 10px;
            line-height: 5px;
            padding-left: 5px;
            padding-right: 5px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 580px) {
  .main-content .works .container .content .swiper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .main-content {
    .works {
      .container {
        > h1 {
          font-size: 24px;
        }
        .content .item {
          width: 320px;
          height: 450px;
          margin: 5px;

          .item-img {
            height: 400px;
          }
          .item-content {
            height: calc(100% - 400px);

            h3 {
              font-size: 16px;
            }
            p {
              font-size: 10px;
            }
            button {
              padding-left: 5px;
              padding-right: 5px;
            }
          }
        }
      }
    }
  }
  .main-content .works .container .barre {
    padding: 0 20px;
  }
  .main-content .works .container .swiper-pagination {
    width: 150px;
  }
}
// Plans-Responsivity
@media only screen and (max-width: 1280px) {
  .main-content .plans {
    background-color: transparent;
  }
  .main-content .plans .container .content {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 1000px) {
  .main-content .plans .container {
    > h1 {
      font-size: 28px;
    }
    > p {
      width: 100%;
      max-width: 500px;
      font-size: 14px;
    }
  }

  .main-content .plans .container .content {
    height: fit-content;
  }
  .main-content .plans .container .content .item {
    height: fit-content;
    height: 385px;
    min-height: 100%;
    width: 254px;
    padding: 25px 25px 75px 25px;

    .title {
      h3 {
        font-size: 20px;
      }
      p {
        font-size: 10px;
        line-height: 15px;
      }
    }

    .price {
      margin: 10px 0 0 0;
      > small {
        font-size: 7px;
      }
    }

    .pg {
      font-size: 20px !important;
    }

    ul {
      margin: 0;
      li {
        font-size: 12px !important;
        line-height: 20px !important;
      }
    }

    .btns {
      width: calc(100% - 50px);
      bottom: 25px;
      button {
        width: 100%;
        background-color: white;
        border: 1px solid #025385;
        color: #025385;
        padding: 8px 12px;
        border-radius: 30px;
        font-size: 12px;
        font-family: "Criteria_CF_semibold";
      }
      a {
        font-size: 8.5px;
      }
    }
  }
  .main-content .plans .container .content .special .ticket {
    line-height: 20px;
    font-size: 10px;
    padding: 0 15px;
    border-radius: 0 0 0 12px;
  }
}
@media only screen and (max-width: 480px) {
  .main-content {
    .plans {
      .container {
        > h1 {
          font-size: 24px;
        }
        > p {
          width: 100%;
          font-size: 14px;
        }
      }
    }
  }
  .main-content .plans .container .content .item .btns a {
    white-space: nowrap;
  }
}
// Footer-Responsivity
@media only screen and (max-width: 1370px) {
  footer .to-top {
    display: none;
  }
  footer .footer-nav {
    padding: 0 25px;
  }
}
@media only screen and (max-width: 800px) {
  footer .isInterested {
    flex-wrap: wrap;
  }
  footer .isInterested .content {
    width: 100%;
    height: 185px;
    padding: 30px;
  }
  footer .isInterested .action {
    width: 50%;
    height: 185px;
  }
  footer .isInterested .content h2 {
    font-size: 32px;
  }
  footer .isInterested .content .highlight {
    font-size: 20px;
  }
  footer .isInterested .content p {
    font-size: 12px;
  }
}
@media only screen and (max-width: 500px) {
  footer .isInterested .action span {
    font-size: 14px;
  }
  footer .isInterested {
    width: 100%;
    padding: 0 20px;
  }
}
@media only screen and (max-width: 500px) {
  footer .isInterested .action span {
    font-size: 14px;
  }
  footer .isInterested {
    width: 100%;
    padding: 0 20px;
  }
}
// About-Responsivity
@media only screen and (max-width: 1200px) {
  .main-content .about .container .about-content h1 {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 1000px) {
  .main-content .about .container .about-content h1 {
    font-size: 28px;
  }
  .main-content .about .container .about-content p {
    font-size: 12px;
    line-height: 15px;
  }
  .main-content .about .container {
    gap: 30px;
  }
}
@media only screen and (max-width: 700px) {
  .main-content .about {
    padding-right: 0;
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
  .main-content .about .container .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-content .about .container .about-content p {
    padding-right: 0;
  }
  .main-content .about .container .about-content a {
    margin: 10px auto 0 0;
  }
  .main-content .about .container .about-img {
    width: 100%;
    max-width: 500px;
  }
  .main-content .about .container .about-content {
    width: 100%;
    max-width: 500px;
  }
  .main-content .about .container {
    flex-direction: column;
    margin: 0 20px;
  }
}
// Membership-Responsivity
@media only screen and (max-width: 1000px) {
  .main-content .benefits .container .title h1 {
    font-size: 28px;
  }
  .main-content .benefits .container .title p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 900px) {
  .main-content .benefits .container .content > div {
    gap: 10px;
    margin: 5px 20px;
  }
  .main-content .benefits .container .content > div .item {
    width: 380px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;
    border: 1px solid #025385;

    h4 {
      font-size: 16px;
    }
    p {
      font-size: 12px;
    }

    img {
      height: 50px;
    }
  }
}
@media only screen and (max-width: 640px) {
  .main-content .benefits .container .content {
    align-items: center;
  }
  .main-content .benefits .container .content > div {
    flex-direction: column;
    transform: translateY(0) !important;
  }
  .main-content .benefits .container .content > div .item {
    width: 100%;
    max-width: 380px;

    h4 {
      font-size: 15px;
    }
  }
  .main-content .benefits .container .content > div .dup-item {
    display: none;
  }
  .main-content .benefits .container .title p {
    padding: 0 20px 20px 20px;
    font-size: 12px;
    margin: 0;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .main-content .benefits .container .title h1 {
    font-size: 24px;
  }
}
// Benefits-Responsivity
@media only screen and (max-width: 1340px) {
  .main-content .membership .container .content .item {
    height: 56px;
    width: 188px;
    font-size: 14px;
  }
  .main-content .membership .container .content {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 15px 10px;
  }
}
@media only screen and (max-width: 1000px) {
  .main-content .membership .container .title h1 {
    font-size: 28px;
  }
  .main-content .membership .container .title p {
    font-size: 14px;
    margin-bottom: 0;
    padding: 0 20px;
    width: 100%;
    max-width: 500px;
  }
}
@media only screen and (max-width: 480px) {
  .main-content .membership .container .title h1 {
    font-size: 24px;
  }
  .main-content .membership .container .content {
    grid-template-rows: 50% 50%;
    // grid-template-columns: 1fr 1fr;
  }
  .main-content .membership .container .content .item {
    flex: 45%;
  }
}
// FAQs-Responsivity
@media only screen and (max-width: 1000px) {
  .main-content .faqs {
    padding: 40px calc(50vw - 660px) 40px calc(50vw - 660px);
  }
  .main-content .faqs h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .main-content .faqs .content > div {
    gap: 10px;
    margin: 5px;
  }
  .main-content .faqs button{
    font-size: 11.5px;
    height: 30px;
    width: 120px;
  }
  .main-content .faqs .content > div .item {
    height: auto;
    padding: 15px 10px;

    &::after {
      height: 4px;
      width: 4px;
    }
  }
  .main-content .faqs .content > div .item .item-content span {
    font-size: 12px;
  }
  .main-content .faqs .content > div .item .btn::before {
    width: 10px;
    height: 2px;
  }
  .main-content .faqs .content > div .item .btn::after {
    width: 2px;
    height: 10px;
  }
}
@media only screen and (max-width: 650px) {
  .main-content .faqs {
    padding: 40px calc(50vw - 660px) 40px calc(50vw - 660px);
  }
  .main-content .faqs h1 {
    font-size: 28px;
  }
  .main-content .faqs .content {
    flex-direction: column;
    > div{
      width: 100%;
      margin: auto;
      max-width: 400px;
    }
  }
}
@media only screen and (max-width: 480px) {
  .main-content .faqs h1 {
    font-size: 24px;
  }
}
// FAQs-Responsivity
@media only screen and (max-width: 1100px) {
  .main-content .client {
    width: 100%;
    padding: 0 20px;
    gap: 5px;
    justify-content: space-evenly;

    img{
      width: 100%;
    }
  }
}
@media only screen and (max-width: 800px) {
  .main-content .client {
    margin: 10px 0 10px 0;
  }
}
// -----------------------
@media only screen and (max-width: 1000px) {
  .main-content {
    margin-top: 50px;
  }
  .main-content .services,
  .main-content .works,
  .main-content .plans {
    padding: 20px calc(50vw - 660px) 20px calc(50vw - 660px);
    margin: 20px 0;
  }
}
@media only screen and (max-width: 800px) {
  footer .footer-nav ul {
    margin-top: 40px;
    height: 150px;
    width: 100%;
    flex-wrap: wrap;
    padding-left: 0;
  }
  footer .footer-nav ul a {
    line-height: 25px;
    width: 50%;
  }
  footer .footer-nav {
    display: flex;
    flex-direction: column;
  }
  footer {
    gap: 45px;
  }
}
